#mlb2-4717853.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedSubmit button.primary {
  color: #fff;
  border: none;
  height: 75px;
  width: 200px;
  font-size: 16px;
  font-weight: 700;
  font-family: "Poppins";
  background: linear-gradient( -36deg, #b16fff 0%, #e980ff 100%);
}

#mlb2-4717853.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedSubmit button.primary {
  border-bottom-left-radius: 4px!important;
  border-bottom-right-radius: 4px!important;
  border-top-left-radius: 0px!important;
  border-top-right-radius: 0px!important;
}

#mlb2-4717853.ml-form-embedContainer .ml-form-embedWrapper.embedForm {
  max-width: 1400px !important;
}

.ml-form-embedPermissions {
  display: none;
}

#mlb2-4717853.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody, #mlb2-4717853.ml-form-embedContainer .ml-form-embedWrapper .ml-form-successBody {
  padding: 0px !important;
}

#mlb2-4717853.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedContent, #mlb2-4717853.ml-form-embedContainer .ml-form-embedWrapper .ml-form-successBody .ml-form-successContent {
  margin: 20px !important;
}

#mlb2-4717853.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-checkboxRow, #mlb2-4717853.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-formContent {
    padding: 0px 20px;
}

#mlb2-4717853.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedSubmit {
  margin: 0 !important;
}

.app-edu-sticky-on {
  background-image: linear-gradient(90deg , #ac281f 0%, #ba4f54 50%, #e09dbb 100%);
}

@media screen and (max-width: 991px) {
  .app-edu-footer-section {
      background-image: linear-gradient(90deg , #ac281f 0%, #ba4f54 50%, #e09dbb 100%) !important;
  }
}

/* The button */
.button-section .eight-banner-content .banner-content-box .ei-banner-btn {
  padding: 45px 0px 25px 0px;
}

.button-section .eight-banner-content .banner-content-box .ei-banner-btn .button-nice {
  font-size: 38px;
  font-weight: 700;
  font-family: "Poppins";
  display: inline-block;
  transition: 0.3s all ease-in-out;
  border-style: none;
}

.button-section .eight-banner-content .banner-content-box .ei-banner-btn .button-nice {
  height: 131px;
  color: #fff;
  width: 421px;
  line-height: 129px;
  text-align: center;
  border-radius: 50px;
  margin-right: 20px;
  border-top-right-radius: 0;
}

.button-section .eight-banner-content .banner-content-box .ei-banner-btn .button-nice i {
  top: 3px;
  color: #000;
  font-size: 38px;
  position: relative;
  margin-right: 10px;
}

.button-section .eight-banner-content .banner-content-box .ei-banner-btn .button-nice:hover {
  border-top-right-radius: 50px;
  border-bottom-left-radius: 0px;
}

.button-section .eight-banner-content .banner-content-box .ei-banner-btn .button-nice.color-1 {
  background-color: #ff00d6;
}

.button-section .eight-banner-content .banner-content-box .ei-banner-btn .button-nice.color-1:hover {
  background-color: #009cff;
}

.button-section .eight-banner-content .banner-content-box .ei-banner-btn .button-nice.color-2 {
  background-color: #009cff;
}

.button-section .eight-banner-content .banner-content-box .ei-banner-btn .button-nice.color-2:hover {
  background-color: #ff00d6;
}

.button-section .eight-banner-content .banner-content-box .ei-banner-btn .button-nice.color-3 {
  background-color: #009cff;
}

.button-section .eight-banner-content .banner-content-box .ei-banner-btn .button-nice.color-3:hover {
  background-color: #ff00d6;
}


#video-element {
  box-shadow: 11px 3px 12px 3px rgba(215,28,166,0.35);
-webkit-box-shadow: 11px 3px 12px 3px rgba(215,28,166,0.35);
-moz-box-shadow: 11px 3px 12px 3px rgba(215,28,166,0.35);
}


#upload-progress {
  font-family: "Poppins";
  font-weight: bold;
}


#play-gathering-description p {
  font-size: 24px;
  margin-bottom: 1em;
}

#play-gathering-description a {
  text-decoration: underline;
  color: white;
}

#play-gathering-description li {
  font-size: 24px;
  color: #C4C4C4;;
}

#sa-contact-inner {
  background-color: #0F0034;
  padding-bottom: 0px;
}

.sa-contact-inner-form {
  padding-top: 1em;
}

#sa-contact-inner > div > div.saas_two_section_title.saas2-headline.text-center > p {
  color: white;
}

.feature-eight-section .eight-feature-box .feature-icon8 .ei-icon-bg {
  border-radius: 21px;
}

.feature-eight-section .eight-feature-box .ei-feature-more {
  opacity: 0.8;
  bottom: -25px;
  visibility: visible;
}

.feature-eight-section .eight-feature-box:hover .ei-feature-more {
  opacity: 1;
  bottom: -15px;
  visibility: visible;
}


.feature-eight-section .eight-feature-box .ei-feature-close {
  position: absolute;
  background-color: #4ce7f3;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  line-height: 30px;
  transition: 0.3s all ease-in-out;
  right: 1em;
  bottom: 0px;
  margin: 0 auto;
  top: 1em;
}

.permission-checks {
  color: white;
  font-size: 1.5em;
}


.eg-how-work-section .how-work-scroller {
  height: 510px;
}


/* Check box switch */
.custom-control-label::before {
  left: -2rem;
  width: 1.5rem;
  height: 1.5rem;
}

.custom-control-label::after {
  left: -2rem;
  width: 1.5rem;
  height: 1.5rem;
}


.feature-eight-section .eight-section-title {
  max-width: 750px;
}

.eg-how-work-text > p {
  margin-left: 100px;
}


#download-links a{
  color: white;
  display: block;
}

#button-continue i{
	transform: scale(1);
	animation: pulse 2s infinite;
  border-radius:25px;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1.2);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

#timer{
  font-size: 4em;
}

#modal-timed-comment .modal-content {
  background-color: #0F0034;
  padding-bottom: 0px;
  color: white;
}

#modal-timed-comment .close {
  color: white;
}

#modal-timed-comment .close:hove {
  color: rgb(138, 141, 148);
}

#modal-timed-comment form {
  color: black;
}

#modal-timed-comment section {
  padding: 1em 2em 2em 2em;
}

#modal-timed-comment select {
  padding: 12px;
  width: 100%;
}

#button-timed-comment {
  font-size: 33px;
  height: 83px;
  width: 289px;
  line-height: 78px;
  text-align: center;
}

#play-gathering-cover {
  width: 100%;
  border-radius: 30px;
}

.permission-checks a {
  text-decoration: underline;
}
